<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Create a new Pokemon</title>
  </head>
  <body>
    <h1>New Pokemon Page</h1>

    <button><a href="/pokemons">Return to Pokedex</a></button>

    <form action="/pokemons" method="POST">
      <ul>
        Name: <input type="text" name="name" placeholder="Pokemon's Name" required><br><br>
        ID: <input type="text" name="stats" placeholder="Pokemon's id Number" required><br><br>
        Type: <input type="text" name="type" placeholder="Pokemon's Type" required><br><br>
        <input type="submit" value="Add New Pokemon">
      </ul>
    </form>

  </body>
</html>