<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Index</title>
</head>
<body>
    <h1>Pokemon Index Page</h1>
    <button><a href="/pokemons/new">Add New Pokemon</a></button>

    <div class = container>
        
        <% for(let i = 0; i < allPokemons.length; i++) { %>
        <a id ="clickablePhotos" href="/pokemons/<%=i%>"><img border-radius="1" src="<%=allPokemons[i].img%>" width="100" height ="100">
        </a>
        <% } %>
   
    </div>

</body>
</html>