/* ================ */
/*      HEADER     */
/* ================ */
header {
    margin-bottom: 2em;
    background-color: #000;
    color: #f7D346;
  }
div.wrapper{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-row-start: 1;

}
